.bloc_main {
    width: 100%;
    min-height: 770px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

}

.bloc {
    border: solid;
    width: auto;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.bloc__1 {
    background: #C6D9F1;
    grid-column: span 3;
    position: relative;
}

.bloc__2 {
    background: #FDE9D9;

}

.bloc__3 {
    padding: 10px;
    height: 100%;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.bloc__4 {
    background: #FDE9D9;
    grid-row: span 3
}

.bloc__5 {
    background: #EAF1DD;
}

.bloc__6 {
    background: #C6D9F1;
    /*grid-row: row 4;*/
    grid-column: 1 / 3;
    position: relative;
}



.bloc__1__x, .bloc__6__y {
    width: 200px;
    height: auto;
    background: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 20px;

}

.bloc__1__x {
    float: right;
    justify-content: left;;
    /*right: 20px;*/
}

.bloc__6__y {
    justify-content: right;
    /*left: 20px;*/

}